:root {
    --text: #2ec4b6
}

/* Universal Selectors */

* {
    background-color: black;
    color: var(--text);
}

/* Elemental Selectors */

header {
    text-align: center;
}

main {
    display: flex;
}

section {
    display: flex;
    flex-wrap: wrap;
    border-color: gray;
    border-style: dashed;
    justify-content: space-evenly;
    
}

/* Class Selectors */

.card-header {
    border: gray;
    border-style: solid;
    border-radius: 5px;
    position: relative;
    margin-top: -20px;
    width: 90%;
}

.align-center {
    align-items: center;
}